{% extends 'base.html.twig' %}

{% block body %}
    <h1>App creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <button class="button is-info">
        Create
        </button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('app_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
